     .header a{color:black}
     li:hover a i.fa-facebook {color:#3b5998}
     li:hover a i.fa-twitter{color:#55ACEE}
     li:hover a i.fa-google-plus  {color :#DD4B39}
    
     
              
                