     {% block footer %}
                  <div class="row footer navbar navbar-inverse navbar-fixed-bottom" >
                    
                       <div class="col-sm-1">
                         <span >XarrMatt</span>  
                       </div>

                        <div class="col-sm-1">
                           <span>A Propos</span> 
                       </div>
                        <div class="col-sm-1">
                            <span>Réseaux Sociaux</span>
                       </div>
                        <div class="col-sm-1">
                           jjijjjj
                       </div>
                        
                       
                    </div>               
              
{% endblock footer%}