<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NagnDem{% endblock %}</title>
         {% include 'BaseStylesheetsScripts.html.twig'  %}

         {% block  scriptInternaute %}
           
             <script src="{{asset('Resources/public/js/common.js') }}"></script>
             <script src="{{asset('Resources/public/js/registration.js') }}"></script>
           
         {% endblock %}

         {% block styleInternaute %}
        
        {% endblock %}
        
    </head>
    <body >
             <div class="container-fluid" style="background-color:#FDFDFD" >

             {% block header %}
               
                 <div class="header" id="top">                                               
                       {% include 'menu_internaute.html.twig'  %}
                                                      
                  </div>

             {% endblock header %}

             <br><br><br>
             
      
   <div> <a href="#top" class='col-sm-offset-11 btn btn-info ancre'> <span class="fa fa-arrow-up"></span> </a>  </div>
             {% block content %}
              
               <div class="row">
                
                       {% block content_specific %}
                         <div class="col-sm-9">
                                  
                               <div class="row presentation jumbotron">

                              presentation

                              </div>

                              <div class="row">
                               
                               <div class="jumbotron col-lg-7">
                                   temoignage

                               </div>

                              

                               <div class="col-md-offset-2 jumbotron col-lg-3">
                                   top villes plus visitées

                                 

                               </div>
                            

                              </div>
                          
                              <div class="row">
                                
                               <div class="jumbotron col-lg-5">
                                   recherche rapide

                               </div>

                              

                               <div class="col-md-offset-2 jumbotron col-lg-5">
                                   bons plans récents

                               </div>
                            </div>
                    
                        </div>
                    {% endblock %}
               
                      <div class="col-sm-3"  >
                         
                              {{render(controller('FOSUserBundle:Registration:register')) }} 
                      </div>
                        
                        
                  </div>
                
                </div>
            

             {% endblock content %}
              
           
        {# {% include 'BaseFooterScroller.html.twig' %} #}
        
    </body>
</html>
