 <div class="col-lg-6 col-lg-offset-3">
                               
       <ul class="nav nav-tabs">
          <li role="navigation" class="active"><a href="#">Accueil</a></li>
          <li role="navigation"><a href="#">Profil</a></li>
          <li role="navigation"><a href="#">Messages</a></li>
          <li role="navigation"><a href="#">Covoiturage</a></li>
          <li role="navigation"><a href="#">Notifications</a></li>
          <li role="navigation"><a href="#">Guide</a></li>
       </ul> 
       </div> 