  <div class="col-sm-4 col-sm-offset-5">
                               
       <ul class="nav nav-tabs">
          <li  role="navigation" class="active"> <a href="#">Home </a></li>                                   
          <li role="navigation"><a href="{{ path('xm_main_connexion') }}">Se connecter</a></li>
          <li role="navigation"><a href="{{ path('utilisateur_new') }}">S'inscrire</a></li>
          <li role="navigation"><a href="#">Guide</a></li>
      </ul> 
</div> 