{% extends '::base_membre.html.twig' %}

 {% block script  %}
       {{parent()}}
       <script src="{{asset('Resources/public/js/covoiturage.js') }}"></script>
                                
 {% endblock %}
{% block content %}
	
    <h1>Covoiturage creation</h1>
   <div class="row">
	     
	     <div class="col-sm-4">
	   	  {{data}}
	   	</div>

	   	<div class="">

	   	</div>

   </div>
    


 
{% endblock %}
