{% extends '::base.html.twig' %}

{% block javascripts %}
     {{parent()}}
     <script type="text/javascript">
     $(document).ready(function(){

         if(document.getElementById('message')!=null)
           {
           	 notify( document.getElementById('message').value,'info' );
           }
      });

     </script>
   


{% endblock %} 

{% block content %}
	   {% for flashMessage in app.session.flashbag.get('notice') %}

			    <div class="flash-notice">
           {{ flashMessage }}
          </div>

     {% endfor %}
    
    <br><br><br><br>
    <div class="row presentation jumbotron">

        presentation

    </div>

    <div class="row">
         
         <div class="jumbotron col-lg-7">
             temoignage

         </div>

        

         <div class="col-md-offset-2 jumbotron col-lg-3">
             top villes plus visitées

         </div>
      

    </div>
    
     <div class="row">
         
         <div class="jumbotron col-lg-5">
             recherche rapide

         </div>

        

         <div class="col-md-offset-2 jumbotron col-lg-5">
             bons plans récents

         </div>
      

    </div>


	



  
{% endblock %}