{% extends '::base_membre.html.twig' %}

{% block content%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('utilisateur_show', { 'username': entity.username }) }}">
            Back to the list
        </a>
    </li>
   
</ul>
{% endblock %}
